/*************** Fonts ***************/
$font_primary:   'Roboto',sans-serif;
$font_secondary: 'Quicksand',sans-serif;
$font_ralely:    'Nunito Sans',sans-serif ;
/*************** Colors ***************/
$primary:       #16133D;
$primary_ligth: #3DB370;
$secondary:     #7690A8;
$default:       #ffffff;
$bg:            #E5E5E5;
$bg_slave:      #EFEEF3;
/*************** Width ***************/
$width: 1440px;
$content_width: 1170px;
$logo: 200px;
$column: 370px;
$text: 275px;
